body{
  background-color : black;
  width : 100vw;
  height : 100vh;
}


.card{
  display : flex;
  flex-direction : row;
  border-radius : 10px;
/*   background-color : white; */
  min-height : 15vh;
}

.card__img{
  display : flex;
  align-items : center;
  margin-left : 10px;
}

.card__box{
  display : flex;
  flex-direction : column;
  align-items : flex-start;
  margin-left : 20px;
}

.card img{
  display : flex;
  border-radius : 100px;
  width : 100px;
  height : 100px;
}

.card__box__div{
  width : 150px;
  display : flex;
  flex-direction : column;
  align-items : flex-start;
}

.font__mini{
  font-size : 10px;
  color : gray;
}

.font__midle{
  font-size : 15px;
  font-weight : bold;
}